# Logs
logs/
*.log
npm-debug.log*

# Node modules e builds
node_modules/
dist/
dist-ssr/
build/
out/

# Arquivos locais e env
*.local
.env
.env.*.local

# Diretórios de IDE/editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage (testes)
coverage/

# Cache e compilações temporárias
.cache/
.next/
turbo/

# Lockfile do npm
# Não coloque package-lock.json aqui para não ignorar
