# Dependências
node_modules/

# Builds
dist/
build/
.out/
.next/
turbo/

# Lockfiles
package-lock.json

# Arquivos de ambiente
.env
.env.*.local

# Cache e relatórios
.cache/
coverage/

# Logs
*.log

# Arquivos de config que não precisam ser formatados
vite.config.ts
*.config.js
*.config.ts

# Outros arquivos que não devem ser mexidos
*.lock